header {
  overflow: hidden;
  background-color: black;
  position: fixed;
  /* Set the navbar to fixed position */
  top: 0;
  /* Position the navbar at the top of the page */
  width: 100%;
  /* Full width */
  text-align: center;
}

header h1 {
  display: block;
  color: white;
  text-align: center;
  padding: 10px;
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
}